[submodule "modules/cache"]
	path = modules/cache
	url = git://github.com/fluxbb/cache.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/fluxbb/database.git
[submodule "modules/utf8"]
	path = modules/utf8
	url = git://github.com/fluxbb/utf8.git
[submodule "modules/gettext"]
	path = modules/gettext
	url = git://github.com/fluxbb/gettext.git
[submodule "modules/password"]
	path = modules/password
	url = git://github.com/fluxbb/password.git
