# Composer dependencies
/vendor/

# FluxBB-specific files
/cache/cache_*.php
/cache/*.cache
/cache/db_update.lock
/modules/
/include/user/*.php
/img/avatars/*.png
/img/avatars/*.jpg
/img/avatars/*.gif
/config.php
