language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm

matrix:
  allow_failures:
    - php: hhvm
  fast_finish: true

before_script:
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install --dev

script:
  - vendor/bin/phpcs --standard=PSR2 -np bootstrap config index.php fluxbb

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/b85fb5b2dfad0466dee2
    on_success: always
    on_failure: always
    on_start: false
