#adminconsole .block2 {margin-top: 12px}

/*** Admin Main Content ***/
* html #adstats dd {height: 1%}
#adstats dd {margin-left: 14em; padding: 3px; margin-bottom: 5px; line-height: 1.5em}
#adstats dt {float: left; width: 13em; padding: 3px; line-height: 1.5em}
#adstats {padding: 15px 15px 5px 10px}
#adintro {padding: 5px}
#adintro p {padding: 10px}
#adstats dl {padding: 5px 0 10px 5px}
#adalerts {padding: 10px}
#adalerts p {padding: 10px; background: #ffffe1; color: #000000; border: 1px solid #dfe6ee}

#adminconsole fieldset td {text-align: left; padding: 4px; white-space: normal}
#adminconsole fieldset th {text-align: left; padding: 4px; white-space: normal}
#adminconsole fieldset td span, #adminconsole fieldset th span {display: block; font-size: 1em; font-weight: normal}
#adminconsole th {width: 15em; font-weight: bold}
#adminconsole input, #adminconsole select, #adminconsole textarea {margin-bottom: 0; margin-top: 0; font-weight: normal}
#adminconsole table.aligntop th, #adminconsole table.aligntop td {vertical-align: top}
#adminconsole table.aligntop th {padding-top: 0.7em}
#adminconsole td, #adminconsole th {border-style: solid; border-width: 3px 0 3px 0}
#adminconsole p {padding-bottom: 6px}
#adminconsole .topspace {padding-top: 6px}
#adminconsole p.submittop, #adminconsole p.submitend {text-align: center}
#adminconsole th.hidehead {color: #f1f1f1}
#adminconsole thead th {padding-bottom: 0}
#adminconsole p.linkactions {font-weight: bold; padding-left: 5px}
#adminconsole th input, #adminconsole div.fsetsubmit {margin-top: 6px}

/*** Particular table settings ***/
#categoryedit .tcl {width: 25%}
#censoring .tcl, #censoring .tc2 {width: 20%}
#edforum .tcl, #edforum .tc2 {width: 8%}
#edforum .tc2 {width: 6%}

table#forumperms th, table#forumperms td {white-space: normal; width: auto; text-align: center}
table#forumperms .atcl {text-align: left; width: 15em; white-space: nowrap}
#adminconsole td.nodefault {background-color: #d59b9b}

/*** User/Ban Search Result Tables ***/
#users2 th, #bans1 th {text-align: left}
#users2 th.tcmod {text-align: center}
#users2 .tcl, #bans1 .tcl {width: auto; text-align: left; padding: 4px 6px}
#users2 .tc2, #bans1 .tc2 {width: 18%; text-align: left; padding: 4px 6px}
#users2 .tc3, #users2 .tc5, #bans1 .tc3, #bans1 .tc5, #bans1 .tc6 {width: 12%; text-align: left; padding: 4px 6px}
#users2 .tc4, #bans1 .tc4 {width: 10%; text-align: center}
#users2 .tcr {width: 20%; white-space: nowrap}
#bans1 .tcr {width: 15%; white-space: nowrap}
#users2 .tcmod {width: 10%; text-align: center}
#adminconsole #linkst, #adminconsole #linksb a {font-weight: bold}

/*** Plugins ***/
.plugin .inbox {padding-bottom: 10px}
.plugin p {padding: 10px 10px 0}
