/*************************************************************
A - SETUP
**************************************************************/
	
/* Start from scratch
-------------------------------------------------------------*/

html, body, /* remove this line if necessary for site integration */
.brd div, .brd p, .brd dl,.brd dt,.brd dd, .brd ul, .brd ol, .brd li,
.brd h1,.brd h2,.brd h3, .brd h4, .brd h5, .brd h6, .brd pre,
.brd form, .brd fieldset, .brd legend, .brd blockquote,
.brd table, .brd th, .brd td {
	margin:0;
	padding:0;
	}
	
.brd fieldset, .brd img, .brd cite {
	border: 0;
	}
	
.brd br, .brd hr, .brd .divider {
	display: none;
	}
	

/* Text Setup (Equalise everything before styling)
-------------------------------------------------------------*/

body {
	font-size: 100%;
	}

.brd {
	font: 75%/1.5em verdana, helvetica, arial, sans-serif;
	}
	
.brd h1,.brd h2,.brd h3, .brd h4, .brd h5, .brd h6 {
	font-size: 1em;
	font-weight: normal;
	}
	
.brd samp, .brd code, .brd pre, .brd option, .brd optgroup,
.brd input, .brd select, .brd textarea, .brd td, .brd th {
	font-size: 1em;
	font-family: verdana, helvetica, arial, sans-serif; 
	font-style: normal;
	}
	
.brd a, .brd a:link, .brd a:visited {
	text-decoration: none;
	}
	
.brd a:hover, .brd a:active, .brd a:focus {
	text-decoration: underline;
	}
	
.brd p {
	padding: 0.5em 0;
	}
	
.brd  ul, .brd ol {
	padding: 0.5em 0 0.5em 1.5em;
	}
	
.brd ul.spaced {
	padding: 0.25em 0 0.25em 1.5em;
	}
	
.brd ul.spaced li {
	padding: 0.25em 0;
	}
	

/* Clear Me
-------------------------------------------------------------*/

.frm .frm-set div:after,
.frm .link:after,
.frm .frm-group:after,
.brd #req-msg:after,
.brd #brd-online:after,
.brd .main-pagepost:after,
.brd .main-menu:after,
.brd .cbox:after,
.brd .main-head:after,
.brd .main-menu ul:after,
#brd-about:after,
.brd .post:after,
.brd .posthead h3:after,
.brd .postbody:after {
	content: "";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0.0;
	overflow:hidden;
	visibility: hidden;
 	clear: both;
	}

/* Hide Me
-------------------------------------------------------------*/

.frm .frm-legend,
.frm .frm-legend span,
.brd .req-warn p strong,
#brd-stats .hn,
#qjump label,
.brd .post .entry-title,
.brd .posthead h3 cite,
.brd .postfoot a span span,
.brd td.tcmod label span {
 	font-size: 0;
 	left: -9999px;
 	text-indent: -9999px;
 	position:absolute;
 	line-height: 0em;
 	}


/*************************************************************
C - GENERAL STYLING 
**************************************************************/

/* Page Layout
-------------------------------------------------------------*/

.brd-page {
	padding: 20px 30px;
	}

#brd-redirect, #brd-maint, #brd-util {
	margin: 50px auto 12px auto;
	width: 60%;
	}
	
.brd { /* Confines clearing behaviour within forum wrapper */
	float: left;
	width: 100%;
	position: relative;
	}

#brd-index .main {
	margin-top: 1.5em;
	}
	
.brd .main-content {
	margin-bottom: 4px;
	}
	
#brd-qpost {
	margin-bottom: 1em;
	}
	
/* Headings
-------------------------------------------------------------*/

.brd .main-head {
	border-style: solid;
	border-width: 1px;
	padding: 0 1.417em;
	}
	
.brd .content-head {
	border-style: none none solid none;
	border-width: 1px;
	padding: 0 1.417em;
	}
	
.brd .main-head .hn, .brd .content-head .hn {
	font-size: 1.084em;
	padding: 0.462em 0;
	font-weight: normal;
	}
	
.main .main-head small {
	float:right;
	font-size: 1em;
	padding: 0.462em 0;
	margin-top: -1.9em;
	}
	
	
/* Content areas
-------------------------------------------------------------*/

.brd .main-content, .brd .gen-content {
	border-style: solid;
	border-width: 1px;
	}
	
.brd .main-content {
	margin: 4px 0;
	}
	
.brd .gen-content {
	padding: 0 1.417em;
	}
	
/*************************************************************
D - REUSABLE FORMATS 
**************************************************************/

/* Option Links (class="options")
-------------------------------------------------------------*/

.brd .options span {
	border-left-style: solid;
	border-left-width: 1px;
	padding: 0 0 0 0.5em;
	margin: 0 0 0 0.25em;
	}
	
.brd .options span.item1 {
	border-left: 0;
	padding-left: 0;
	margin-left: 0;
	}
	
.brd .main-options, .brd .content-options {
	text-align: center;
	}
	
.brd .main-options .feed a {
	padding: 2px 0 2px 20px;
	background: url(feed-icon.png) center left no-repeat;
	}

/* Basic content box
-------------------------------------------------------------*/

.brd .cbox {
	border-style: solid;
	border-width: 1px;
	padding: 0.25em 0;
	margin: 1em 0;
	zoom:1;
	}
	
.brd .main-content .cbox {
	margin: 1.417em;
	}
	
.brd .cbox p, .brd .cbox .legend, .brd .cbox div {
	padding: 0.5em 1.417em;
	font-size: 1em;
	}
	
.brd .cbox ul {
	padding: 0.5em 1.5em;
	margin-left: 1.417em;
	margin-right: 1.417em;
	font-size: 1em;
	}
	
/* Two column content box
-------------------------------------------------------------*/

.brd .cpair .cbox {
	border-style: none none none dashed;
	margin: 0 0 0 16em;
	}
	
.brd .cpair {
	margin: 1.417em;
	border-style: solid;
	border-width: 1px;
	position: relative;
	zoom: 1;
	}
	
.brd .cpair .cbox .legend {
	float: left;
	margin-left: -16em;
	left: -1px;
	width: 13em;
	position: relative;
	}
	
.brd .data-pair .data-box ul {
	list-style: none;
	margin-left: 0;
	}
	
.brd .frm-pair {
	border: 0;
	margin: 0 1.417em;
	}
	
.brd .frm-pair .frm-box {
	border: 0;
	padding: 0;
	}
	
.brd .frm-pair .frm-box .legend {
	text-align: right;
	padding-right: 0;
	padding-left: 1em;
	width: 15em;
	left: 0;
	}
	
/* The Grid (Multiple two column content boxes)
-------------------------------------------------------------*/

.brd .cgrid .cpair {
	margin: 0;
	border-style: dashed none none none;
	}

.brd .cgrid .item1 {
	border-top-style: none;
	}
	
.brd .cgrid {
	border-style: solid;
	border-width: 1px;
	margin: 1.5em;
	position: relative;
	}
	
.brd .maintalert {
 	color: red !important;
 	font-weight: bold;
	}
	
.brd .newalert a {
 	font-weight: bold;
 	}

 /* User Identity
-------------------------------------------------------------*/
	
#brd-wrap .user-ident {
	position: relative;
	padding-bottom: 0.5em;
	padding-top: 4em;
	}
	
#brd-wrap .user-ident .username {
	position: absolute;
	display: block;
	font-size: 1.167em;
	top: 0.5em;
	}
	
#brd-wrap .user-ident .usertitle {
	top: 2em;
	font-weight: bold;
	font-size: 1em;
	position: absolute;
	display: block;
	}
	
#brd-wrap .user-ident .userstatus {
	font-size: 1em;
	display: block;
	border-left-style: solid;
	border-left-width: 0.7em;
	line-height: 0.8em;
	margin-top: 0.75em;
	text-indent: 0.5em;
	}
	
.brd .online .userstatus {
	font-weight: bold;
	}
	
#brd-wrap .user-ident img {
	display: block;
	}

 /* Other types of options
-------------------------------------------------------------*/
	
.brd .text-options {
	padding: 0 1.417em;
	text-align: right;
	margin-top: -2.15em;
	position: relative;
	float: right;
	}
	

/*************************************************************
D - COMMON BOARD ELEMENTS 
**************************************************************/

/* Logo and Description
-------------------------------------------------------------*/

#brd-title {
	font-size: 1.75em;
	font-family: helvetica, arial, sans-serif;
	line-height: 1em;
	padding: 0.5em 0 0 0;
	}
	
#brd-title a:hover, #brd-title a:active, #brd-title a:focus {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	}
	
#brd-desc {
	padding: 0.25em 0 0.5em 0;
	}
	
#brd-access {
	float: right;
	}
	
/* Main Menu
-------------------------------------------------------------*/

#brd-navlinks ul {
	padding-left: 0;
	padding-right: 0;
	}

#brd-navlinks li {
	display: inline;
	font-size: 1.167em;
	padding: 0.429em 0.857em 0.429em 0;
	}
	
/* Board Welecome
-------------------------------------------------------------*/

#brd-visit span.options {
	white-space: nowrap;
	}

#brd-visit a {
	font-weight: bold;
	}


/* Board statistics
-------------------------------------------------------------*/

#brd-stats {
	margin-top: 1.5em;
	}

#brd-stats ul {
	list-style: none;
	padding-left: 0;
	}
	
#brd-stats ul li.st-users {
 	float: left;
 	clear: both;
 	white-space: nowrap;
 	}
 
 #brd-stats ul li.st-activity {
 	text-align: right;
 	display: block;
 	white-space: nowrap;
 	}
 
 #brd-online {
 	padding: 0.5em 1.417em;
 	margin-top: -1px;
 	}
 	
 #brd-online .hn, #brd-online p {
 	padding: 0;
 	}
 	
 #brd-online .hn {
 	float: left;
 	margin-right: 0.75em;
 	}
 	
 #brd-online {
 	margin-bottom: 1em;
 	}
 	
 /* Board Footer
-------------------------------------------------------------*/

#brd-about {
	padding: 0.25em 1.417em;
	}

#brd-about p {
	text-align: right;
	float: right;
	}
	
#qjump {
	float: left;
	padding: 0.333em 0 0 0;
	margin: 0;
	}
	
/* Pagination and Posting
-------------------------------------------------------------*/

.brd .main-pagepost {
	border-style: dotted;
	border-width: 1px;
	}

.brd .main-pagepost p.paging {
	float: left;
	width: 50%;
	}
	
.brd .main-pagepost p.posting {
	float: right;
	}
	
.brd .paging, .brd .paging * {
	white-space:nowrap;
	}

.brd .paging a, .brd .paging strong, .brd .paging span {
	padding: 0 1em;
	border-left-style: solid;
	border-left-width: 1px;
	float: left;
	}
	
.brd .paging .item1, .brd .paging span.pages {
	border-left: 0;
	padding-left: 0;
	}
	
.brd .posting .newpost {
	font-size: 1.084em;
	font-weight: bold;
	}

/* Breadcrumbs
-------------------------------------------------------------*/

.brd .crumbs {
	padding: 0.25em 1.417em;
	}
	

.brd .crumbs .crumblast {
	font-weight: bold;
	}
	

/* Profile Menu
-------------------------------------------------------------*/

.brd .main-menu {
	border-bottom: 0;
	}
	
.brd .main-menu ul {
	list-style-type: none;
	padding: 0;
	}

.brd .main-menu li {
	display: inline;
	float:left;
	}
	
.brd .main-menu li a {
	padding:  0.462em 0.462em 0.6em 0.462em;
	float: left;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	font-size: 1.084em;
	}
	
.brd .main-menu li.item1 {
	border: 0;
	}
	
.brd .main-menu li.item1 a {
	padding-left: 0;
	}
	
.brd .main-menu li.active a {
	background: url(tab.png) bottom center no-repeat;
	color: #000;
	}
	
.brd .main-menu li a:hover, .brd .main-menu li a:active, .brd .main-menu li a:focus {
	background: url(tab_hover.png) bottom center no-repeat;
	text-decoration: none;
	}
	
/* Message Boxes
-------------------------------------------------------------*/

.brd .message {
	padding: 0.5em 1.417em;
	}
	
.brd .message p span {
	display: block;
	padding-top: 1em;
	}
	
	
/*************************************************************
F - MAIN FORMS
**************************************************************/

/* Form text
-------------------------------------------------------------*/

.brd .frm-set {
	font-size: 1em;
	line-height: 1.5em;
	}
	
.brd .frm-text input, .brd .frm-select select {
	font-size: 1.084em;
	}
	
.brd label small {
	font-size: 1em;
	}
	
.brd .required label span {
	font-weight: bold;
	}
	
.brd label span em, .brd #req-msg p em {
	font-size: 1.084em;
	font-weight: bold;
	}



/* Fieldsets (Top Level)
-------------------------------------------------------------*/

.brd .frm-newform .frm-set {
	padding-left: 17em;
	padding-top: 1em;
	margin: 0 1.417em;
	border-top-style: dashed;
	border-top-width: 1px;
	}
	
.brd .frm-newform .set1 {
	border-top: 0;
	padding-top: 1px;
	margin-top: 1.5em;
	}
	
.brd div.frm-form {
	padding: 0 1.417em 1.417em 1.417em;
	}
	
.brd div.frm-form table {
	border: 1px solid #ddd;
	}
	
	
/* Text and Select Fields
-------------------------------------------------------------*/

.brd .frm-newform .frm-text, .brd .frm-newform .frm-select {
	padding: 2em 0 0.75em 0;
	position: relative;
	}
	
.brd .frm-newform .frm-text label span, .brd .frm-newform .frm-select label span {
	margin: -2em 0 0 -17em;
	padding: 2px 1em 2px 0;
	position: relative;
	text-align: right;
	float: left;
	width: 16em;
	}
	
.brd .frm-newform .frm-text input, .brd .frm-newform .frm-select select {
	float: left;
	font-size: 1.084em;
	}

.brd .frm-newform .frm-text input:not([title]) { /* Fixes alignment issue in Safari */
	height: 100%;
	}
	
.brd .frm-newform .frm-text .fld-input, .brd .frm-newform .frm-select .fld-input {
	position: absolute;
	left: 0;
	top: 0;
	}

/* Textareas
-------------------------------------------------------------*/

.brd .frm-newform .frm-textarea {
	padding: 0 0 0.75em 0;
	position: relative;
	}
	
.brd .frm-newform .frm-textarea label span {
	margin: 0 0 0 -17em;
	padding: 2px 1em 2px 0;
	position: relative;
	text-align: right;
	float: left;
	width: 16em;
	}
	
.brd .frm-newform .frm-textarea span.fld-input {
	display: block;
	}
	
.brd .frm-newform .frm-textarea-help span.fld-input {
	display: block;
	clear: both;
	}

.brd .frm-newform .frm-textarea-help label span {
	bottom: -1.666em;
	}
	
.brd .frm-newform .frm-textarea textarea {
	float: left;
	font-size: 1.084em;
	}
	
.brd .frm-newform .frm-textarea textarea { /* Fixes alignment issue in Safari */
	height: 100%;
	max-width: 100%;
	}
	
.brd .frm-newform .frm-textarea label small {
	float: left;
	text-align: left;
	position: relative;
	margin-left: -1px;
	font-size: 0.917em;
	}

	
/* Checkboxes and Radio Button
-------------------------------------------------------------*/

.brd .frm-newform .frm-radbox {
	position: relative;
	padding-bottom: 0.75em;
	}	

.brd .frm-newform .frm-radbox label {
	margin-left: 2em;
	float: left;
	}

.brd .frm-newform .frm-radbox input {
	margin: 0;
	position: absolute;
	left: -0.25em;
	top: 0;
	height: 1.55em;
	width: 1.55em;
	}

.brd .frm-newform .frm-radbox label span {
	float: left;
	width: 16em;
	padding-right: 1em;
	text-align: right;
	margin-left: -17em;
	position: relative;
	left: -2em;
	}

/* Radio Button and Checkbox Groups
-------------------------------------------------------------*/

.brd .frm-newform .frm-group {
	padding-bottom: 0.25em;
	position: relative;
	}
.brd .frm-newform .frm-group legend span {
	width: 16em;
	padding-right: 1em;
	text-align:right;
	position: absolute;
	left: -17em;
	font-weight: normal;
	}

.brd .frm-newform .frm-group .frm-radbox {
	padding-bottom: 0.5em;
	}
	
.brd .frm-newform .frm-yesno .frm-radbox {
	float: left;
	width: 9em;
	}
	
/* Submit Buttons
-------------------------------------------------------------*/
	
.brd .frm-newform .frm-buttons {
	padding: 1em 0 0 17em;
	margin: 0.75em 1.417em 1em 1.417em;
	position: relative;
	border-top-style: double;
	border-width: 3px;
	}

#brd-login .frm-newform .set1 {
	padding-bottom: 2em;
	}
	
.brd .frm-newform .frm-options span.options {
	position: absolute;
	left: 17em;
	margin-top: -7.5em;
	}
	
	
.brd .frm-newform .frm-options span.options a {
	margin-right: 0.75em;
	}
	
.brd .frm-buttons span.submit input,
.brd span.cancel input {
	overflow: visible;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 2px;
	font-size: 1.084em;
	}
	
	
/* Required Fields and Field Help
-------------------------------------------------------------*/

.brd .frm-newform .frm-text label small, .brd .frm-newform .frm-select label small {
	float: left;
	text-align: left;
	position: relative;
	margin-top: -0.1em;
	margin-left: -1px;
	font-size: 0.917em;
	}

.brd .frm-newform .frm-short label small {
	margin-top: -2em;
	margin-left: 4.5em;
	padding: 2px 1em 2px 0;
	}
	
	
.brd .frm-newform label span em, .brd #req-msg p em {
	position: relative;
	bottom: -0.15em;
	}

.brd div#req-msg {
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	padding-left: 16em;
	margin: 1.5em 1.417em 0 1.417em;
	}
	
.brd #req-msg p {
	float: left;
	padding: 0 1em;
	margin-bottom: -0.85em;
	font-weight: bold;
	}
	
.brd .req-warn{
	border-bottom-color: #D4DAE2;
	}
	
.brd .req-warn p {
	background: #fbfbfb;
	color: #555;
	}
.brd .req-error {
	border-bottom-color: #000;
	}
	
.brd .req-error p {
	color: #000;
	background: #fbfbfb;
	}
	
.brd ul li.req-error {
	color: #b42000 !important;
	font-weight: bold;
	}
	
.brd ul li.req-error span {
	color: #000;
	}
	
.brd .req-error strong {
	color: #b42000;
	}
	
	
/*************************************************************
E - MAIN TABLES ( Index / Forums / Userlist )
**************************************************************/

/* Table Cells Widths and Alignment
-------------------------------------------------------------*/

.brd table {
	width: 100%;
	table-layout: fixed;
	empty-cells: show;
	border-spacing: 0;
	line-height: 1.3333em;
	}

.brd td {
	overflow: hidden;
	vertical-align: middle;
	}

.main table .tcl {
	width: 50%;
	text-align: left;
	}

.main table .tc2,
.main table .tc3,
.main table .tcmod {
	width: 10%;
	text-align: center;
	}

.main table .tcr {
	width: 30%;
	text-align: left;
	}
	
#brd-userlist table .tcl,
#brd-searchtopics table .tcl,
#brd-modforum table .tcl {
	width: 40%
	}
	
#brd-userlist table .tc2,
#brd-searchtopics table .tc2 {
	width: 20%;
	text-align: left;
	}
	
#brd-debug  table .tcl {
	white-space:normal;
	width: 15%;
	}

#brd-debug table .tcr {
	white-space: normal;
	width: 90%;
	}
	
#brd-admin-users table .tcl {
	width: 35%;
	}
	
#brd-admin-users table .tc2 {
	width: 20%;
	}
	
#brd-admin-users table .tc3 {
	width: 10%;
	}
	
#brd-admin-users table .tcr {
	width: 20%;
	}
	
#brd-admin-users table .actions {
	width: 15%;
	}
	
#brd-admin-users td.tcl span {
	display: block;
	}
	
#brd-admin-users td.tcl strong {
	font-weight: bold;
	}
	
	
/* Table Cell Styling
-------------------------------------------------------------*/

.main table .tcl h3 span {
	font-size: 1.167em;
	font-weight: bold;
	}

.main table .tcl span.topic-nav,
.main table .tcl span.topic-nav *,
.main table .tcr a {
	white-space: nowrap;
	}
	
.main table .tcl .modlist {
	display: block;
	padding-top: 0.3em
	}
	
.brd .main-content th {
	font-size: 1.084em;
	padding: 0.462em 1.417em;
	font-weight: normal;
	}
	
.main table td {
	padding: 0.5em 1.417em;
	border-width: 1px;
	border-style: solid none none solid;
	}
	
.main table td.tcl {
	border-left-style: none;
	border-left-width: 0
	} 
	
.main table th {
	padding: 0.5em 1.3em;
	border-style: none;
	}

.main table tbody.statused td.tcl {
	padding-left: 3.4em;
	}
	
.main table tbody.statused span.status {
	margin-left: -2.4em;
	position: absolute;
	}

.main table .tcl img {
	border-style: solid;
	border-width: 0.6em;
	display: inline;
	height: 0;
	width: 0;
	float: left;
	margin-right: 0.4em;
	margin-top: 0.1em;
	}
	
#brd-index .main table .tcl img {
	border-width: 0.7em;
	}

#brd-index .main table .tcr .byuser {
	display: block;
	}
	
.main table td.actions, .main table th.actions {
	text-align: right;
	}

.main table td.actions span {
	display: block;
	}
	
#brd-index .main-content {
	position: relative;
	}
#brd-index .content-head {
	width: 40%;
	position: absolute;
	border: 0;
	line-height: 1.333em;
	}
	
/*************************************************************
F - TOPICS
**************************************************************/
	
/* Interface
-------------------------------------------------------------*/
	
.brd .post {
	border-style: solid none none none;
	border-width: 1px;
	}
	
.brd .firstpost {
	border-top: 0;
	}

.brd .post .user {
	float: left;
	padding: 0 1em;
	width: 16em;
	margin-left: -18em;
	margin-top: -2.5em;
	}
	
.brd #post-preview .user {
	margin-top: 0;
	}
	
.brd .user ul {
	list-style: none;
	padding-left: 0;
	}

.brd .user ul li strong {
	font-weight: normal;
	}
	
.brd .postbody, .brd .posthead, .brd .postfoot-inner {
	margin-left: 18em;
	border-left-style: solid;
	border-left-width: 1px;
	}
	
.brd .postbody {
	padding-bottom: 1em;
	}
	
.brd .posthead {
	padding: 0.5em 1em;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	}
	
.brd .posthead h3 a strong {
	float: right;
	}
	
.brd .posthead h3 label {
	float: right;
	margin: 0;
	}

.brd .posthead h3 label * {
	margin: 0 0 0 0.5em;
	
	}
	
.brd .post-entry {
	padding: 1em;
	}
	
.brd .postfoot {
	border-top-style: dashed;
	border-top-width: 1px;
	}
	
.brd .postfoot .post-options, .brd .postfoot .post-contacts {
	padding: 0.5em 1em;
	}
	
.brd .postfoot .post-contacts {
	float: left;
	margin-left: -18em;
	}
	
.brd .postfoot .post-options {
	text-align: right;
	}

.brd .postfoot .post-contacts a {
	margin-right: 1em;
	font-size: 1.084em;
	}

.brd .postfoot .post-options a {
	margin-left: 1em;
	font-size: 1.084em;
	}
	
.brd .post .sig-content span.sig-line {
	display: block;
	padding-bottom: 0.75em;
	margin-top: 1em;
	width: 300px;
	border-top: 1px solid #ccc;
	}
	
	
	
/* Content
-------------------------------------------------------------*/

#brd-wrap .entry-content {
	padding-bottom: 1px;
	overflow: hidden;
	width: 100%
	}
#brd-wrap .entry-content br {
	display: inline;
	}
	
#brd-wrap .entry-content p {
	padding: 0;
	margin: 0 0 1em 0;
	}
	
#brd-wrap .entry-content ul {
	padding: 0 0 0 2em;
	margin: 0 0 1em 0;
	list-style-type: disc;
	}
	
#brd-wrap .entry-content ol {
	padding: 0 0 0 2.5em;
	margin: 0 0 1em 0;
	list-style-type: decimal;
	}
	
#brd-wrap .entry-content ol.alpha {
	list-style-type: upper-alpha;
	}
	
#brd-wrap .entry-content img {
	vertical-align: text-top;
	}
	
#brd-wrap .entry-content .quotebox,
#brd-wrap .entry-content .codebox {
	border-style: solid;
	border-width: 1px;
	margin: 0 1em 1.7em 1em;
	padding: 1em 1em 0.3em 1em;
	}
	
#brd-wrap .entry-content blockquote {
	overflow: hidden;
	width: 100%;
	}
	
#brd-wrap .entry-content .quotebox cite {
	display: block;
	font-style: normal;
	font-weight: bold;
	padding-bottom: 0.5em;
	}
	
#brd-wrap .entry-content pre {
	margin: 0;
	max-height: 35em;
	min-height: 2em;
	overflow: auto;
	padding: 0 2% 0.1em 0;
	width: 98%;
	}	

#brd-wrap .entry-content img {
	max-width: 100%;
	}
	
#brd-wrap .entry-content span.bbu {
	text-decoration: underline;
	}
	
