/*************************************************************
COLOUR CHART			
**************************************************************/

/* Basic									#fff / #333 */
/* (Light back) a, a:link, a:visited		#00569c */
/* (Light back) a:hover, a:active, a:focus	#b42000 */
/* (Dark back) a, a:link, a:visited			#ddd */
/* (Dark back) a:hover, a:active, a:focus	#fff */
/* Logo										#296fa5 / #fff */
/* Main menu								#113C5E / #ddd */
/* Main headings							#1f537b / #ddd */
/* Info Boxes (Yellow)						#ffffe1 */
/* Info Boxes (Yellow New)					#FEFFE6 (border: #F4EBCE) */
/* Info Boxes (Blue)						#f4f9fd */
/* General Background (Lightest)			#fbfbfb */
/* General Background (Slightly darker)		#f4f4f4 */
/* Strong text (not in bold)				#000 */


/* General Colours
-------------------------------------------------------------*/

body {
	background: #fff;
	color: #333;
	}

.brd {
	background: #fff;
	color: #333;
	}
	
.brd .main-content, #brd-visit {
	background: #FBFCFC;
	border-color: #D4D4D4 #E7E7E7 #E7E7E7 #E7E7E7;
	}

.brd .gen-content, .brd td {
	border-color: #E7E7E7;
	}

/* Getting specific
-------------------------------------------------------------*/

#brd-stats, #brd-online {
	background: #F5F7F9;
	border-color: #E7E7E7;
	}
	
#brd-head {
	background: #296fa5;
	color: #ddd;
	border-color:#296fa5 
	}
	
#brd-about {
	background: #F5F7F9;
	}

.brd .crumbs {
	border-color: #fff;
	}
	
.brd .main-head {
	background: #1f537b;
	color: #ddd;
	border-color: #1f537b
	}
	
#brd-navlinks {
	background: #113C5E;
	border-color: #000 #113C5E #113C5E #113C5E;
	color: #ddd;
	}
	
.brd .main-options {
	background: #E1E4E8;
	border-color: #ddd #ddd #ccc #ddd;
	}
	

.brd label span, .brd .frm-group legend, .brd th,
.brd .content-head, .brd .data-pair .legend,
.brd .user-ident .username {
	color: #113C5E;
	}
	
.brd .user-ident .usertitle {
	color: #000;
	}
	
.brd label {
	color: #555;
	}
	
.brd .warn strong, .brd label em, .brd #req-msg em {
	color: #b42000;
	}
	
.brd .info-box {
	background: #FEFFE6;
	border-color: #F4EBCE;
	color: #66582D;
	}
	
.brd .info-box li {
	color: #C2AD6F;
	}
	
.brd .info-box li span {
	color: #66582D;
	}
	
.brd .options span {
	border-color: #aaa;
	}
	
#brd-visit #main-alert {
	color: yellow;
	background: 000;
	}
	
.brd fieldset, .brd .frm-buttons {
	border-color: #D5DFED;
	}

.brd .data-grid, .brd .data-pair, .brd .data-box {
	background-color: #F5F7F9;
	border-color: #D5DFED;
	}
	
.brd .post {
	background: #F5F7F9;
	border-color: #ddd;
	}
	
.brd .postbody, .brd .postfoot-inner {
	background: #fbfbfb;
	border-color: #E7E7E7;
	}
	
.brd .postfoot {
	border-color: #ddd;
	}
	
.brd .posthead {
	background: #F5F7F9;
	border-color: #E7E7E7;
	}

.brd .data-pair li span {
	color: #555;
	}
	
.brd .data-pair li span strong {
	font-weight: normal;
	color: #000;
	}
	
.brd .main-pagepost, .brd .paging * {
	border-color: #ccc;
	}
	
#brd-wrap .entry-content .codebox, #brd-wrap .entry-content .quotebox {
	border-color: #ddd;
	background: #fff;
	}
	
.brd .content-head {
	background: #E1E4E8;
	border-color: #ccc #eee #bbb #eee;
	}

.brd th {
	background: #E1E4E8;
	}

.brd tr.row1 td {
	border-top-color: #ccc;
	}
	
.brd .online .userstatus {
	border-color: #296fa5;
	}
	
.brd .userstatus {
	border-color: #E1E4E8;
	}
	
	
/* Links
-------------------------------------------------------------*/

.brd a, .brd a:link, .brd a:visited {
	color: #00569c;
	}
	
.brd .main-head a, .brd .main-head a:link, .brd .main-head a:visited,
#brd-navlinks a, #brd-navlinks a:link, #brd-navlinks a:visited {
	color: #ddd;
	}

#brd-head a, #brd-head a:link, #brd-head a:visited {
	color: #fff;
	}
	
.brd a:hover, .brd a:active, .brd a:focus {
	color: #b42000;
	}
	
.brd .main-head a:hover, .brd .main-head a:active, .brd .main-head a:focus,
#brd-head a:hover, #brd-head a:active, #brd-head a:focus,
#brd-navlinks a:hover, #brd-navlinks a:active, #brd-navlinks a:focus {
	color: #fff;
	}
	
#brd-title a:hover, #brd-title a:active, #brd-title a:focus {
	border-bottom-color: #fff;
	text-decoration: none;
	}
	
/*************************************************************
E - POST STATUS INDICATORS
**************************************************************/
	
td.tcl span.status img {
	border-color: #E6E6E6 #DEDEDE #DADADA #E2E2E2
	}
	
tr.redirect td.tcl img {
	border-color: #f4f4f4 #f4f4f4 #f4f4f4 #f4f4f4
	}
	
td.tcl span.new img {
	border-color: #2B75AD #235E8C #1F537B #266799
	}
	
	