/*************************************************************
COLOUR CHART			
**************************************************************/

/* Basic					#fff / #333 */
/* (Light back) a, a:link, a:visited		#00569c */
/* (Light back) a:hover, a:active, a:focus	#b42000 */
/* (Dark back) a, a:link, a:visited		#ddd */
/* (Dark back) a:hover, a:active, a:focus	#fff */
/* Logo						#296fa5 / #fff */
/* Main menu					#113C5E / #ddd */
/* Main headings				#1f537b / #ddd */
/* Info Boxes (Yellow)				#ffffe1 */
/* Info Boxes (Blue)				#f4f9fd */
/* General Background (Lightest)		#fbfbfb */
/* General Background (Slightly darker)		#f4f4f4 */
/* Strong text (not in bold)			#000 */


/*************************************************************
A - BACKGROUND and BORDERS
**************************************************************/

.main-content, #brd-visit, .paged-head, .paged-foot, .postmain {
	background: #fbfbfb;
	}
	
#brd-about, .main th, .main td.tc2, .main td.tc3, #brd-debug td.tcl {
	background: #f4f4f4;
	}
	
.posthead {
	background: #f1f1f1;
	}
	
#brd-title, #brd-desc {
	background:#296fa5;
	}

#brd-navlinks {
	background: #113c5e;
	}

.main-head, .main-foot {
	background: #1f537b;
	}
	
.frm-info, .frm-error, #brd-alert, #brd-maintenance, .dataset .ext-error, .brd #admin-alerts {
	background: #ffffe1;
	}

.entry-content .codebox, .entry-content .quotebox {
	background: #fff;
	}

.brd div, div.brd, .brd td, .brd table, #stats h3, .frm .frm-set {
	border-color: #ddd;
	}
	
.profile, .user, .topic, .databox, .userbox {
	background: #f4f9fd;
	}

.status span, .sig-content span.sig-line, .databox .legend, #brd-announcement .msg-head {
	border-color: #bbb;
	}

.online .status span {
	border-color: #296FA5;
	}
	
.main .frm-head {
	border-color: #fff #fff #bbb #fff;
	}
	
.main .frm-head {
	background: #f1f1f1;
	}
	
.frm .frm-subhead, .frm .frm-info, .dataset, .datagrid, .databox, .databox .data {
	border-color: #ddd;
	}
	
.brd .paging a, .brd .paging strong, .brd .paging span {
	border-color: #ddd;
	}
	
.brd .paged-head, .brd .paged-foot {
	background: #fff;
	}
	
/*************************************************************
B - TEXT
**************************************************************/

.brd {
	color: #333;
	}

#brd-title p, #brd-title a {
	color: #fff;
	}

#brd-desc, #brd-navlinks, .main-head, .main-foot, #brd-home {
	color: #ddd;
	}
	
.main-content li span, .databox .data, .frm-info, .frm-info span, .frm-set, .fld-label,
.isonline, .example code, .example li code, .example li samp, .frm .frm-group legend,
.example li span, .example li .samp, p.item span, .entry-info li * {
	color: #666;
	}
	
.main-content li strong, .important strong, .user-info li.title span,
.frm-error li span, .frm-info li span strong, .online .isonline, .frm h3.link *, .frm h4.link *,
#brd-help h3, .main th, #brd-maintenance em, .brd #admin-alerts p strong {
	color: #000;
	}
	
.user .username {
	color: #00569c;
	}
	
.main .frm-head, .main .databox .legend, .brd .userbox .msg-head {
	color: #113C5E;
	}
	
.main-content li {
	color: #9AAFB4;
	}
	
.main-content .userbox li {
	color: #333;
	}

.user-actions li {
	color: #CD9C96;
	}

em.req-text, #req-msg p em, .brd li.warn, .brd .warn strong, .brd .frm-group .warn, .main .ext-error .legend,
.brd #admin-alerts .legend span {
	color: #b42000;
	}
	
.main .entry-content li {
	color: #333;
	}
	
/*************************************************************
C - LINKS
**************************************************************/
	
.brd a, .brd a:link, .brd a:visited {
	color: #00569c;
	}
	
#brd-home a, #brd-home a:link, #brd-home a:visited,
.main-head a, .main-head a:link, .main-head a:visited,
#brd-navlinks a, #brd-navlinks a:link, #brd-navlinks a:visited {
	color: #ddd;
	text-decoration: none;
	}	

.main-foot a, .main-foot a:link, .main-foot a:visited {
	color: #ddd;
	}
	
.main-head a.feed-option, .main-head a.feed-option:link, .main-head a.feed-option:visited {	
	border-color: #6F9EFF;
	background: #4D80E7;
	color: #fff;
	}

.brd a:hover, .brd a:active, .brd a:focus {
	color: #b42000;
	}
	
.main-head a:hover, .main-head a:active, .main-head a:focus,
.main-foot a:hover, .main-foot a:active, .main-foot a:focus,
#brd-home a:hover, #brd-home a:active, #brd-home a:focus,
#brd-navlinks a:hover, #brd-navlinks a:active, #brd-navlinks a:focus,
#brd-access a:hover, #brd-access a:active, #brd-access a:focus {
	color: #fff;
	text-decoration: underline;
	}	

.main-head a.feed-option:hover, .main-head a.feed-option:active, .main-head a.feed-option:focus {
	text-decoration: none;
	border-color: #fff;
	}

	
.posting a, p.crumbs a {
	text-decoration: none;
	}
	
.main .topic .post .posthead h3 a strong {
	text-decoration: none;
	}
	

/*************************************************************
D - TABBED NAVIGATION
**************************************************************/
	
.main-nav ul li a, .main-nav ul li a:link, .main-nav ul li a:visited {
	text-decoration: none;
	border-color: #ddd;
	}
	
.main-nav ul li a:hover, .main-nav ul li a:active, .main-nav ul li a:focus {
	border-top-color: #b42000;
	}

.main-nav ul li.topactive a, .main-nav ul li.topactive a:link,
.main-nav ul li.topactive a:visited {
	color: #F4F9FD;
	text-decoration: underline;
	background: #1f537b;
	border-color: #1f537b;
	}
	
.submenu ul li.topactive ul li a,
.submenu ul li.topactive ul li a:link,
.submenu ul li.topactive ul li a:visited {
	background: transparent;
	text-decoration: none;
	color: #dedfdf;
	}

.submenu ul li.topactive ul li.isactive a,
.submenu ul li.topactive ul li.isactive a:link,
.submenu ul li.topactive ul li.isactive a:visited {
	text-decoration: underline;
	color: #fff;
	background:#1f537b;
	}

.submenu ul li.topactive ul li a:hover,
.submenu ul li.topactive ul li a:active,
.submenu ul li.topactive ul li a:focus {
	text-decoration: underline;
	color: #fff;
	background: #1f537b;
	}
	

	
	
/*************************************************************
E - POST STATUS INDICATORS
**************************************************************/
	
td.tcl span.status img {
	border-color: #E6E6E6 #DEDEDE #DADADA #E2E2E2
	}
	
tr.redirect td.tcl img {
	border-color: #f4f4f4 #f4f4f4 #f4f4f4 #f4f4f4
	}
	
td.tcl span.new img {
	border-color: #2B75AD #235E8C #1F537B #266799
	}
	