.frm .frm-set div,
.frm .frm-group,
.brd #req-msg:after,
.brd #brd-online,
.brd .main-pagepost,
.brd .main-menu,
.brd .cbox,
.brd .main-head,
.brd .main-menu ul,
.brd #req-msg,
#brd-about,
#brd-stats ul,
#brd-online,
.brd .post,
.brd .posthead h3,
.brd .postbody,
.brd .main-content {
	zoom: 1;
	min-height: 1px;
	}
	
.brd legend {
	margin-left: -7px;
	}
	
