/*************************************************************
IE6 - FIXES
**************************************************************/
	
/* Float Clearing and Has Layout Fixes
-------------------------------------------------------------*/

.brd-page,
.brd .main,
#brd-index .main-subhead,
.brd .main-content .item-body,
.brd .main-content .item-body ul,
.brd .gen-content,
.brd .main-content,
.brd .content-box,
.brd .content-box *,
.brd fieldset div,
.brd fieldset fieldset,
.brd .post,
.brd .postbody,
.brd .post-entry,
.brd .postfoot p {
	height: 100%;
	zoom: 1;
	}

/* Forms
-------------------------------------------------------------*/

#brd-wrap fieldset {
	padding-top: 1px;
	position: relative;
	}

.brd fieldset legend {
	margin-left: -7px;
	}

