/*************************************************************
IE6 - FIXES
**************************************************************/
	
/* Float Clearing and Has Layout Fixes
-------------------------------------------------------------*/

#brd-index .main-subhead,
#brd-index .forum-item,
.brd .gen-content,
.brd .content-box,
.brd .content-set,
.brd .content-box *,
.brd fieldset div,
.brd fieldset .fld-label,
.brd fieldset fieldset {
	zoom: 1;
	}

/* Forms
-------------------------------------------------------------*/

#brd-wrap fieldset {
	padding-top: 1px;
	position: relative;
	}

.brd fieldset legend {
	margin-left: -7px;
	}

