/*************************************************************
A - SETUP
**************************************************************/
	
/* Start from scratch
----------------------------------------------------------=--*/

.main table {
	border-collapse: collapse
	}

.brd legend {
	margin-left: -7px;
	}

	
/* Make the skip link work
----------------------------------------------------------=--*/

.ietabfix:active, #brd-main {
	zoom: 1;
	}

/* Welcome Box
----------------------------------------------------------=--*/

#brd-visit {
	zoom: 1;
	}
	
/* Alert Box
----------------------------------------------------------=--*/

#brd-alert, #brd-alert h1 {
	zoom: 1;
	}


/* Statistics
-------------------------------------------------------------*/

 #brd-info {
 	min-height: 1px;
 	}
 
 #brd-info #stats ul, #brd-info #onlinelist {
 	min-height: 1px;
 	}
	
/* About Box (Footer / Copyright / Jump Menu)
----------------------------------------------------------=--*/

#brd-about {
	min-height: 1px;
	}

/* Paging and Posting
----------------------------------------------------------=--*/
	
.brd .crumbs,
.main .paged-head,
.main .paged-foot,
.main .paged-foot .submitting {
	min-height: 1px;
	}
	
/* Main Headings
----------------------------------------------------------=--*/
	
.main .main-head,
.main .main-foot {
	min-height: 1px;
	}
	
/* Tabbed Navigation
-------------------------------------------------------------*/
	
.main .main-nav {
	min-height: 1px;
	}
	

/* Forms
-------------------------------------------------------------*/
	
.frm .frm-set div,
.frm .link,
.frm .frm-group,
.frm .radbox {
	min-height: 1px;
	}
	
.radbox input,
.post-select input {
	height: 13px;
	width: 13px;
	}
	
.brd span.submit input,
.brd span.cancel input {
	padding-bottom: 0;
	}

.brd .frm,
.frm .profile {
	min-height: 1px
	}

.frm .profile .sig-demo {
	min-height: 1px;
	}

.frm .radbox label {
	float: left;
	}
	
.main .dataset, .main .datagrid {
	min-height: 1px;
	}
	

/* Posts
-------------------------------------------------------------*/

.main .topic, .main .post, .main .post .postbody, .main .topic .post .postfoot {
	min-height: 1px;
	position: relative;
	}
	
.main .post .user {
	min-height: 1px;
	position: relative;
	}

* html .entry-content .codebox pre { /* 6 Only */
	overflow: visible;
	overflow-x:auto;
	padding-bottom: 2em;
	}
  
.entry-content .codebox pre { /* 7 Only */
	min-height: 3em
	}
	
	

