/*************************************************************
A - SETUP
**************************************************************/
	
/* Start from scratch
-------------------------------------------------------------*/

html, body, /* remove this line if necessary for site integration */
.brd div, .brd p, .brd dl,.brd dt,.brd dd, .brd ul, .brd ol, .brd li,
.brd h1,.brd h2,.brd h3, .brd h4, .brd h5, .brd h6, .brd pre,
.brd form, .brd fieldset, .brd legend, .brd blockquote,
.brd table, .brd th, .brd td {
	margin:0;
	padding:0;
	text-align: left;
	}
	
.brd fieldset, .brd img, .brd cite {
	border: 0;
	}
	
.brd br, .brd hr, .brd .hr, .brd .hidden {
	display: none;
	}
	
.brd table {
	width: 100%;
	table-layout: fixed;
	empty-cells: show;
	}
	
/* Text Setup (Equalise everything before styling)
-------------------------------------------------------------*/

body {
	font-size: 100%;
	}

.brd-page {
	font: 75%/1.5em 'Lucida Grande', helvetica, arial, sans-serif;
	}

.brd h1,.brd h2,.brd h3, .brd h4, .brd h5, .brd h6 {
	font-size: 1em;
	font-weight: normal;
	}
	
.brd samp, .brd code, .brd pre, .brd option, .brd optgroup,
.brd input, .brd select, .brd textarea, .brd td, .brd th {
	font-size: 1em;
	font-family: 'Lucida Grande',helvetica,arial,sans-serif; 
	font-style: normal;
	font-weight: normal;
	}

/* Float Clearing
-------------------------------------------------------------*/
	
.brd-page:after,
.brd .gen-content:after,
.brd .content-box:after,
#brd-index .item-header:after,
#brd-index .item-body:after,
#brd-index ul.item-info:after,
.brd fieldset:after,
.brd fieldset div:after,
.brd fieldset label:after,
.brd fieldset fieldset:after,
.brd .postbody:after,
.brd .postfoot p:after {
	content: "";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0.0;
	overflow:hidden;
	visibility: hidden;
 	clear: both;
	}

/* Hidden items
-------------------------------------------------------------*/

#brd-stats .hn,
#brd-online .hn,
#qjump label,
.brd .item-body .item-info li span.label,
.brd .item-body .item-info li label,
.brd .item-body .you-posted,
.brd .item-body .item-num,
#brd-index .item-header .subject-title,
.brd .frm-legend,
.brd .frm-legend span,
.brd .posthead .hn cite,
.brd p.item-select label,
.brd .entry-title {
 	font-size: 0;
 	left: -9999px;
 	text-indent: -9999px;
 	position:absolute;
 	line-height: 0em;
 	}


/*************************************************************
B - GLOBAL STYLES
**************************************************************/

/* General Layout
-------------------------------------------------------------*/

.brd-page {
	padding: 20px 30px;
	}

#brd-redirect, #brd-maint, #brd-util {
	margin: 50px auto 12px auto;
	width: 60%;
	}
	
.brd { /* Confines clearing behaviour within forum wrapper */
	float: left;
	width: 100%;
	position: relative;
	}

.brd .main-content, .brd .gen-content {
	border-style: solid;
	border-width: 1px;
	}

.brd .gen-content {
	padding: 0 1.5em;
	}
	
.brd .main {
	margin: 1em 0;
	}
	
#brd-about {
	margin-top: 1em;
	}

/* Content Text (Default spacing for paragraphs and lists)
-------------------------------------------------------------*/

.brd p, .brd .hn {
	padding: 0.5em 0;
	}
	
.brd  ul, .brd ol {
	padding: 0.5em 0 0.5em 2em;
	}

	
.brd ul.spaced {
	padding: 0.25em 0 0.25em 2em;
	}
	
.brd ul.spaced li {
	padding: 0.25em 0;
	}
	
/* Headings
-------------------------------------------------------------*/

.brd th {
	font-size: 1.084em;
	padding: 0.462em 1.417em;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	}
	
.brd .main-head {
	border-style: solid;
	border-width: 1px;
	padding: 0 1.417em;
	}

.brd .main-head .hn {
	font-size: 1.084em;
	padding: 0.462em 10em 0.426em 0;
	}

.brd .main-subhead {
	border-style: solid solid none solid;
	border-width: 1px;
	position: relative;
	}
	
.brd .main-subhead .hn {
	font-size: 1.084em;
	padding: 0.462em 1.417em;
	border-style: solid;
	border-width: 1px;
	margin: -1px -1px 0 -1px;
	position: relative;
	}

.brd .main-pagehead {
	float: right;
	padding: 0  1.5em;
	border-style: solid solid solid none;
	border-width: 1px;
	margin-top: -2.667em;
	}
	
.brd .main-pagehead .hn {
	padding: 0.5em 0;
	}
	
.brd .content-head {
	border-style: solid none;
	border-width: 1px 0 2px 0;
	margin-top: -1px;
	}

.brd .content-head .hn {
	font-size: 1.084em;
	border-style: none none solid none;
	border-width: 1px;
	padding: 0.462em 1.417em;
	}


/*************************************************************
C - COMMON CONTENT TYPES (RE-USABLE FORMATS)
**************************************************************/

/* Option lists
-------------------------------------------------------------*/

.brd .options span {
	border-left-style: solid;
	border-left-width: 1px;
	padding: 0 0 0 0.5em;
	margin: 0 0 0 0.25em;
	}
	
.brd .options span.item1 {
	border-left: 0;
	padding-left: 0;
	margin-left: 0;
	}

/* Content Containers (Also used for form layout)
-------------------------------------------------------------*/
	
.brd .content-box, .brd .frm-box {
	border-style: solid;
	border-width: 1px;
	margin: 1.417em;
	padding: 0 1em;
	position: relative;
	}

.brd .content-set, .brd .frm-set {
	border-style: solid;
	border-width: 1px;
	margin: 1.417em;
	padding: 0 0 0 18em;
	position: relative;
	}
	
.brd .content-group, .brd .frm-group {
	border-style: solid;
	border-width: 1px;
	margin: 1.417em;
	}
	
.brd .content-set .content-box, .brd .frm-set .frm-box {
	border-style: none none none solid;
	margin: 0;
	}
	
.brd .content-group .content-set, .brd .frm-group .frm-set {
	border-style: solid none none none;
	margin: 0;
	}

.brd .content-group .group-item1, .brd .frm-group .group-item1 {
	border-top: 0;
	}

.brd .content-set .set-legend {
	float: left;
	margin-left: -18em;
	width: 18em;
	display: inline;
	position: relative;
	}
	
.brd .content-set ul {
	padding-left: 0;
	list-style: none;
	}
	
.brd .content-box div {
	padding: 0.5em 0;
	}
	
 /* User Identity
-------------------------------------------------------------*/
	
#brd-wrap .user-ident {
	position: relative;
	padding-bottom: 0.5em;
	padding-top: 4em;
	}
	
#brd-wrap .user-ident .username {
	position: absolute;
	display: block;
	font-size: 1.25em;
	top: 0.5em;
	left: 0;
	}

#brd-wrap .username a, #brd-wrap .username a:link, #brd-wrap username a:visited {
	text-decoration: none;
	}
	
#brd-wrap .username a:hover, #brd-wrap .username a:active, #brd-wrap .username a:focus {
	text-decoration: underline;
	}
	
#brd-wrap .user-ident .usertitle {
	top: 2em;
	left: 0;
	font-weight: bold;
	font-size: 1em;
	position: absolute;
	display: block;
	}
	
#brd-wrap .user-ident .userstatus {
	font-size: 1em;
	display: block;
	border-left-style: solid;
	border-left-width: 0.7em;
	line-height: 0.8em;
	margin-top: 0.75em;
	text-indent: 0.5em;
	}
	
.brd .online .userstatus {
	font-weight: bold;
	}
	
#brd-wrap .user-ident img {
	display: block;
	}

 /* Message Boxes
-------------------------------------------------------------*/
	
.brd .main-message {
	padding: 0.5em 1.417em;
	}
	
.brd .main-message p span {
	display: block;
	padding-top: 0.5em;
	}
	
/* Section Menus (By Default - Profile and Admin)
-------------------------------------------------------------*/

.brd .main-menu, .brd .admin-menu {
	border: 0;
	padding: 0.4em 0 0.4em 0.75em;
	}
	
.brd .main-menu {
	margin-bottom: 4px;
	}
	
.brd .main-menu ul, .brd .admin-menu ul {
	list-style-type: none;
	float: left;
	padding: 0;
	}

.brd .main-menu li, .brd .admin-menu li {
	font-size: 1.084em;
	float: left;
	display: inline;
	border-style: none solid;
	border-width: 0 1px 0 2px;
	}
	
#brd-wrap .main-menu a, #brd-wrap .admin-menu a {
	float: left;
	position: relative;
	padding: 0.2em 0.75em 0.4em 0.75em;
	}

.brd .main-menu li.item1, .brd .admin-menu li.item1 {
	border-left: 0;
	}
	
.brd .admin-submenu ul {
	padding: 0.5em 0;
	list-style: none;
	}
	
.brd .admin-submenu li {
	display: inline;
	margin-right: 0.75em;
	}
	
	
/*************************************************************
D - COMMON INTERFACE ELEMENTS
**************************************************************/

/* Logo and Tagline
-------------------------------------------------------------*/

#brd-title {
	padding-bottom: 0;
	}
	
#brd-title a {
	font-size: 1.5em;
	text-decoration: none;
	}

#brd-desc {
	font-size: 1.084em;
	padding-top: 0;
	}
	
/* Primary navigation
-------------------------------------------------------------*/

#brd-navlinks ul {
	margin: 0;
	padding: 0.5em 0;
	float: left;
	}
	
#brd-navlinks li {
	display: inline;
	margin-right: 1em;
	}
	
#brd-navlinks li a {
	font-size: 1.167em;
	text-decoration: none;
	}
	
#brd-admod {
	float: right;
	text-align: right;
	}
	
/* Welcome box
-------------------------------------------------------------*/

#brd-visit #welcome {
	float: left;
	}
	
#brd-visit #visit-links {
	text-align: right;
	float: right;
	}

/* Paging and posting
-------------------------------------------------------------*/
	
.brd .paging {
	float: left;
	}
	
.brd .posting {
	text-align: right;
	float: right;
	}
	
.brd .paging, .brd .paging * {
	white-space:nowrap;
	}

.brd .paging a, .brd .paging strong, .brd .paging span {
	padding: 0 1em;
	border-left-style: solid;
	border-left-width: 1px;
	float: left;
	}
	
.brd .paging .item1, .brd .paging span.pages {
	border-left: 0;
	padding-left: 0;
	}
	
.brd .posting .newpost {
	font-size: 1.084em;
	font-weight: bold;
	}

/* Breadcrumbs
-------------------------------------------------------------*/

.brd .crumbs .crumblast {
	font-weight: bold;
	}
	
.brd .crumbs span, .brd crumbs span * {
	white-space: nowrap;
	}
	
/* Statistics
-------------------------------------------------------------*/

#brd-stats {
	border-bottom: 0;
	}

#brd-stats ul {
	list-style: none;
	padding-left: 0;
	}

#brd-stats ul li.st-users {
 	float: left;
 	clear: both;
 	white-space: nowrap;
 	}
 
 #brd-stats ul li.st-activity {
 	text-align: right;
 	display: block;
 	white-space: nowrap;
 	}
	
/* Footer
-------------------------------------------------------------*/
	
#qjump {
	float: left;
	padding: 0.5em 0;
	}
	
#qjump div, #qjump label {
	padding: 0;
	border: none;
	}
	
#copyright {
	text-align: right;
	float: right;
	}
	
/* Main and Content Options
-------------------------------------------------------------*/

.brd .main-options .options {
	text-align: center;
	}
	
.brd .main-options span.feed {
	padding-left: 20px;
	background: url(feed-icon.png) center left no-repeat;
	}
	
.brd .content-options {
	float: right;
	margin-top: -2.7em;
	padding: 0.5em 1.417em;
	position: relative;
	}
	
/*************************************************************
E - INDEX, FORUMS, SEARCH RESULTS, MODERATE FORUMS
**************************************************************/
	
/* Header setup generally
-------------------------------------------------------------*/

.brd .main-content .item-header {
	height: 2.5em;
	border-style: none none solid none;
	border-width: 1px;
	}

#brd-index .main-content .item-header {
	margin-top: -2.5em;
	background: transparent;
	border: none;
	}

.brd .main-content .item-header p {
	width: 100%;
	position: absolute;
	left: -999em;
	text-indent: -999em;
	}

.brd .main-content .item-header strong {
	position: absolute;
	left: 999em;
	text-indent: 0;
	white-space: nowrap;
	font-weight: normal;
	}

.brd .main-content .item-header .subject-title {
	padding-left: 1.417em;
	}

.brd .main-content .item-header .info-topics,
.brd .main-content .item-header .info-views {
	margin-left: 100%;
	text-align: center;
	width: 7em;
	left: 965em;
	}
	
.brd .main-content .item-header .info-posts,
.brd .main-content .item-header .info-replies {
	margin-left: 100%;
	text-align: center;
	width: 7em;
	left: 972em;
	}
	
.brd .main-content .item-header  .info-lastpost {
	margin-left: 100%;
	left: 980em;
	}

/* Content setup generally
-------------------------------------------------------------*/

.brd .main-content .item-body {
	border-top-style: solid;
	border-top-width: 1px;
	overflow: hidden;
	position: relative;
	line-height: 1.4em;
	}

.brd .main-content .item-body1 {
	border-top: none;
	}

.brd .main-content .item-body ul {
	float: right;
	position: relative;
	padding: 0;
	list-style: none;
	}

 .brd .main-content .item-body p,
 .brd .main-content .item-body .hn {
 	padding: 0;
 	}

 .brd .main-content .item-body .item-subject,
 .brd .main-content .item-body li {
 	float: left;
 	border-left-style: solid;
 	border-left-width: 1px;
 	padding-bottom: 10em;
 	margin: 0 -1px -9.7em 0;
 	position: relative;
 	}

.brd .main-content .item-body .item-subject {
  	padding-top: 0.4em;
 	overflow: hidden;
 	width: 100%;
  	}

 .brd .main-content .item-body li.info-topics,
 .brd .main-content .item-body li.info-posts,
 .brd .main-content .item-body li.info-views,
 .brd .main-content .item-body li.info-replies {
 	width: 7em;
 	text-align:center;
 	padding-top: 1em;
 	}

.brd .main-content .item-body li.info-lastpost {
  	padding-top: 0.4em;
  	width: 20em;
  	}

.brd .main-content .redirect li.info-lastpost {
  	padding-top: 1em;
  	}

/* Setup for Index and Forums (with views)
-------------------------------------------------------------*/

.brd .main-content .item-body {
	padding-right: 35em;
	padding-left: 3.75em;
	}
	
.brd .main-content .item-body ul {
	width: 34em;
	right: -35em;
	margin-left: -34em;
	}
	
.brd .forum-noview .item-body {
	padding-right: 28em;
	}
	
.brd .forum-noview .item-body ul {
	width: 27em;
	right: -28em;
	margin-left: -27em;
	}
	
 .brd .main-content .item-body .item-subject span.modlist {
 	display: block;
 	font-size: 0.917em;
 	}
 
.brd .main-content .item-body .hn strong {
  	font-weight: bold;
  	font-size: 1.084em;
  	}

 #brd-index .main-content .item-body .hn span {
 	font-size: 1.167em;
 	font-weight: bold;
 	}

.brd .main-content .item-body span.item-nav,
.brd .main-content .item-body span.item-nav * {
	white-space: nowrap;
	font-style: normal;
	}

 .brd .main-content .item-body .item-subject .hn,
 .brd .main-content .item-body .item-subject p {
	margin: 0 1em 0 1.5em;
 	}

 	
 .brd .main-content .item-body li.info-lastpost strong,
 .brd .main-content .item-body li.info-lastpost cite,
 .brd .main-content .item-body li.info-lastpost span {
 	display: block;
 	padding: 0 1em;
 	font-style: normal;
 	font-weight: normal;
 	}
 	
 .brd .main-content .item-body li.info-select {
 	position: absolute;
 	right: 0;
 	top: 0;
 	padding: 0.3em;
 	border-style: none none solid solid;
 	border-width: 1px;
 	}
 	
 .brd .main-content .item-body .icon {
 	border-style: solid;
 	border-width: 0.6em;
 	height: 0;
 	width: 0;
 	float: left;
 	margin-top: 0.35em;
 	margin-left: -2.417em;
 	}
 	
 .brd .main-content .item-body .hn .posted-mark {
 	position: absolute;
 	font-size: 2em;
 	margin-left: -0.5em;
 	}
 	
/*************************************************************
F - MAIN CONTENT - FORMS
**************************************************************/
	
/* Form Content (Generally)
-------------------------------------------------------------*/

.brd .frm-box {
	padding: 0.5em 0;
	}

.brd .frm-box label {
	float: left;
	padding: 0 1em;
	}
	
.brd .frm-box label span {
	float: left;
	margin-left: -18em;
	display: inline;
	position: relative;
	padding: 2px 0;
	width: 16em;
	}
	
.brd .frm-box label small {
	display: block;
	text-align: left;
	position: relative;
	margin: 2em 1em 0 -1px;
	font-size: 0.917em;
	}

.brd .frm-short label small {
	font-size: 1em;
	padding: 2px 0;
	margin: 0 1em 0 5.5em;
	}

.brd .frm-box .fld-input {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	padding: 0.5em 1em;
	}
	
.brd .frm-set .text input, .brd .frm-set .select select {
	font-size: 1.084em;
	}

.brd .frm-set .text input:not([title]) { /* Fixes alignment issue in Safari */
	height: 100%;
	}

.brd .frm-short input {
	width: 4em;
	}


/* Form Content (Adjustments for Checkboxes/Radiobuttons)
-------------------------------------------------------------*/

.brd fieldset.frm-set legend {
	position: absolute;
	}

.brd fieldset.frm-set legend span {
	width: 16em;
	padding: 0.5em 1em;
	position: absolute;
	font-weight: normal;
	left: -18em;
	top: 0;
	}
	
.brd .frm-set .fld-group {
	float: left;
	position: relative;
	width: 12em;
	}
	
.brd .frm-set .fld-group input {
	position: absolute;
	left: 1em;
	}
	
.brd .frm-set .checkbox label, .brd .frm-set .radio label {
	padding-left: 3em;
	}
	
.brd .frm-set .checkbox label span, .brd .frm-set .radio label span {
	left: -2em;
	padding: 0;
	}

.brd .frm-set .checkbox input, .brd .frm-set .radio input {
	margin: 0 0 0 -0.25em;
	height: 1.55em;
	width: 1.55em;
	}
	
/* Form Content (Adjustments for Textareas)
-------------------------------------------------------------*/
	
.brd .frm-set .textarea .fld-input {
	position: relative;
	display: block;
	padding: 0.5em 1em;
	top: -1.75em;
	margin-bottom: -2em;
	}
	
.brd .frm-set .textarea label small {
	margin-top: 0;
	padding-bottom: 2em;
	}
	
.brd .frm-set .textarea textarea {
	width: 100%;
	}
	
/* Form Content (Submit Buttons)
-------------------------------------------------------------*/
	
.brd .frm-form .frm-buttons {
	padding: 1em 0 0 18em;
	margin: 0.75em 1.417em 1em 1.417em;
	position: relative;
	border-top-style: double;
	border-width: 3px;
	}
	
.brd span.submit input,
.brd span.cancel input {
	overflow: visible;
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-size: 1.084em;
	}

/* Required Fields
-------------------------------------------------------------*/
	
.brd .frm-form label span em, .brd #req-msg p em {
	position: relative;
	bottom: -0.1em;
	font-size: 1.167em;
	font-weight: bold;
	}
	
.brd .frm-form label span em {
	position: absolute;
	right: 0;
	}

.brd div#req-msg {
	padding-left: 18em;
	margin: 0.5em 1.417em -1.3em 1.417em;
	}
	
.brd .req-warn p {
	font-size: 0.9em;
	font-weight: bold;
	}
	
.brd .req-error p {
	font-weight: bold;
	font-size: 1em;
	}
	
.brd ul li.req-error {
	font-weight: bold;
	}


/*************************************************************
G - MAIN CONTENT - TOPICS AND PARSED CONTENT
**************************************************************/

/* Structure
-------------------------------------------------------------*/
	
.brd .post {
	border-style: solid none;
	border-width: 1px;
	position: relative;
	}
	
.brd .firstpost {
	border-top: 0;
	}

.brd .posthead {
	border-style: none none dashed solid;
	border-width: 1px;
	padding: 0 1.5em 0 1em;
	margin-left: 18em;
	}
	
.brd .posthead .hn strong, .brd .search-posthead .hn strong {
	float:right;
	}
	
.brd .posthead p.item-select {
	position: absolute;
	top: 2.5em;
	right: 1em;
	}
	
.brd .search-posthead {
	border-style: none none dashed none;
	border-width: 1px;
	padding: 0 1.5em 0 1.5em;
	}
	
.brd .postbody {
	margin-left: 18em;
	position: relative;
	border-left-style: solid;
	border-left-width: 1px;
	padding: 0.5em 1.5em 1em 1em;
	}

.brd .postfoot {
	padding-left: 18em;
	border-top-style: dashed;
	border-top-width: 1px;
	position: relative;
	}
	
.brd .postfoot p {
	border-left-style: solid;
	border-left-width: 1px;
	}
	
.brd .postbody .user {
	float: left;
	margin-left: -18em;
	margin-top: -3.083em;
	left: -1px;
	width: 16em;
	padding: 0 0 0.5em 0.5em;
	display: inline;
	position: relative;
	}
	
#brd-searchposts .postbody .user {
	margin-top: 0;
	}
	
.brd .postbody .user ul {
	list-style: none;
	padding-left: 0;
	}
	
.brd .postfoot .post-contacts {
	float: left;
	margin-left: -18em;
	width: 15.5em;
	padding: 0 1em 0 1.5em;
	}
	
.brd .postfoot .post-options {
	padding: 0 1.5em 0 1em;
	text-align: right;
	display: block;
	float: right;
	}
	
	
/* Content
-------------------------------------------------------------*/
	
#brd-wrap .entry-content {
	padding-bottom: 1px;
	overflow: hidden;
	width: 100%
	}
	
#brd-wrap .entry-content ol {
	padding: 0 0 0 2.5em;
	margin: 0 0 1em 0;
	list-style-type: decimal;
	}
	
#brd-wrap .entry-content ol.alpha {
	list-style-type: upper-alpha;
	}
	
#brd-wrap .entry-content img {
	vertical-align: text-top;
	}
	
#brd-wrap .entry-content .quotebox,
#brd-wrap .entry-content .codebox {
	border-style: solid;
	border-width: 1px;
	margin: 0.5em 1em 1.7em 1em;
	padding: 1em 1em 0.3em 1em;
	}
	
#brd-wrap .entry-content blockquote {
	overflow: hidden;
	width: 100%;
	}
	
#brd-wrap .entry-content .quotebox cite {
	display: block;
	font-style: normal;
	font-weight: bold;
	padding-bottom: 0.2em;
	}
	
#brd-wrap .entry-content pre {
	margin: 0;
	max-height: 35em;
	min-height: 2em;
	overflow: auto;
	padding: 0 2% 0.1em 0;
	width: 98%;
	}	

#brd-wrap .entry-content img {
	max-width: 100%;
	}
	
#brd-wrap .entry-content span.bbu {
	text-decoration: underline;
	}
	
	
/*************************************************************
H - MAIN TABLES
**************************************************************/

/* Table Cells Widths and Alignment
-------------------------------------------------------------*/

.brd table {
	width: 100%;
	table-layout: fixed;
	empty-cells: show;
	border-spacing: 0;
	line-height: 1.3333em;
	}

.brd td {
	overflow: hidden;
	vertical-align: middle;
	}

#brd-userlist table .tc0 {
	width: 40%
	}
	
#brd-userlist table .tc1 {
	width: 20%;
	text-align: left;
	}
	
#brd-debug  table .tc0 {
	white-space:normal;
	width: 15%;
	}

#brd-debug table .tc1 {
	white-space: normal;
	width: 90%;
	}
	
#brd-admin-uresults table .tc0,
#brd-admin-iresults table .tc0 {
	width: 45%;
	}
	
#brd-admin-uresults table .tc1,
#brd-admin-iresults table .tc1, 
#brd-admin-iresults table .tc2 {
	width: 20%;
	}
	
#brd-admin-uresults table .tc2,
#brd-admin-uresults table .tc4 {
	width: 10%;
	text-align: center;
	}
	
#brd-admin-uresults .tc3 {
	width: 15%;
	}
	
#brd-admin-uresults td.tc0 span,
#brd-admin-uresults td.tc3 span {
	display: block;
	white-space: nowrap;
	}

#brd-admin-uresults td.tc0 a,
#brd-admin-uresults td.tc3 a {
	font-weight: bold;
	}
	
#brd-admin-iresults table .tc0 {
	width: 25%;
	}
	
#brd-admin-iresults table .tc1 { 
	width: 25%;
	}
	
#brd-admin-iresults table .tc2 { 
	width: 20%;
	}
	
#brd-admin-iresults .tc3 {
	width: 30%;
	}
	
	
/* Table Cell Styling
-------------------------------------------------------------*/
	
.brd .main-content th {
	font-size: 1.084em;
	padding: 0.462em 1.417em;
	font-weight: normal;
	}
	
.main table td {
	padding: 0.5em 1.417em;
	border-width: 1px;
	border-style: solid none none solid;
	}
	
.main table td.tc0 {
	border-left-style: none;
	border-left-width: 0
	} 
	
.main table th {
	padding: 0.5em 1.3em;
	border-style: none;
	}

.main table td.actions, .main table th.actions {
	text-align: right;
	}

.main table td.actions span {
	display: block;
	}
	
	
	